## Import and Install Libraries

In [33]:
# Install altair
# !pip install "altair[all]==5.5.0"

# Install psycopg3
# !pip install psycopg[binary]

# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
import psycopg
import time
from psycopg import sql
from io import StringIO

# SQL Queries

## Query 1: Aggregation using GROUP BY

This query returns the name of each community_board (neighborhood), as well as the number of complaints filed from
each neighborhood (i.e. records in complaint_indicent). The results are organized alphabetically by community board name.

In [34]:
# Define Query
query1 = '''
SELECT COUNT(community_board), community_board
	FROM nyc311.complaint_incident
	GROUP BY community_board
	ORDER BY community_board;
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t1 = time.time()
        
        # Execute
        cur.execute(query1)

        # Save restults
        results1 = cur.fetchall()

        # Close timer
        t_1 = time.time() - t1
        print(f'Query Time: {t_1:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results1 = pd.DataFrame(results1, columns=['COUNT', 'Community Board'])
display(results1)

DATABASE CONNECTED: 0.119547 SEC

Query Time: 0.282813 SEC

DATABASE DISCONNECTED

    COUNT            Community Board
0     206              0 Unspecified
1    3902                   01 BRONX
2    6890                01 BROOKLYN
3    2567               01 MANHATTAN
4    6757                  01 QUEENS
..    ...                        ...
72    357          Unspecified BRONX
73    842       Unspecified BROOKLYN
74   1375      Unspecified MANHATTAN
75    689         Unspecified QUEENS
76     98  Unspecified STATEN ISLAND

[77 rows x 2 columns]

## Query 2: INNER JOIN

This query performs an inner join between complaint_incident and taxi_details, then performs a second inner join on those results
and road_details. The result is a table of complaints (records) that contain information in BOTH taxi_details and road_details, along with the
corresponding complaint date and address.

In [35]:
# Define Query
query2 = '''
SELECT I.unique_key, I.created_date, I.incident_address, I.borough, T.taxi_pick_up_location, R.bridge_highway_name
	FROM nyc311.complaint_incident AS I
	INNER JOIN nyc311.taxi_details AS T 
	ON (I.unique_key = T.unique_key)
	INNER JOIN nyc311.road_details AS R 
	ON (I.unique_key = R.unique_key);
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t2 = time.time()
        
        # Execute
        cur.execute(query2)

        # Save restults
        results2 = cur.fetchall()

        # Close timer
        t_2 = time.time() - t2
        print(f'Query Time: {t_2:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results2 = pd.DataFrame(results2, columns=['ID', 'Date', 'Address', 'Borough', 'Taxi Pickup Location', 'Road Name'])
display(results2)

DATABASE CONNECTED: 0.216465 SEC

Query Time: 0.051981 SEC

DATABASE DISCONNECTED

,ID,Date,Address,Borough,Taxi Pickup Location,Road Name
0,66927415,2025-11-23 23:08:19,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Cross Island Pkwy
1,66910184,2025-11-21 22:31:45,11-01 43 AVENUE,QUEENS,"11-01 43 AVENUE, QUEENS (LONG ISLAND CITY), NY...",Washington Br/181 Street Br.
2,66907471,2025-11-21 11:11:57,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Belt Pkwy
3,66914298,2025-11-21 09:47:54,233-05 MENTONE AVENUE,QUEENS,"233-05 MENTONE AVENUE, QUEENS (ROSEDALE), NY, ...",Belt Pkwy
4,66900267,2025-11-21 00:21:24,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Long Island Expwy
5,66901531,2025-11-20 05:39:45,220-55 46 AVENUE,QUEENS,"220-55 46 AVENUE, QUEENS (BAYSIDE), NY, 11361",Long Island Expwy
6,66894405,2025-11-20 01:44:58,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Cross Island Pkwy
7,66893136,2025-11-19 08:13:09,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",BQE/Gowanus Expwy
8,66887647,2025-11-19 07:36:28,396 5 AVENUE,MANHATTAN,"396 5 AVENUE, MANHATTAN (NEW YORK), NY, 10018",Park Ave Tunnel - E 34th St./Grand Central
9,66883549,2025-11-18 17:54:07,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",FDR Dr
10,66869082,2025-11-17 22:14:04,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",BQE/Gowanus Expwy
11,66861376,2025-11-17 12:05:23,200 HAVEN AVENUE,MANHATTAN,"200 HAVEN AVENUE, MANHATTAN (NEW YORK), NY, 10033",Cross Bronx Expwy
12,66870503,2025-11-17 04:30:45,36-10 GREENPOINT AVENUE,QUEENS,"36-10 GREENPOINT AVENUE, QUEENS (LONG ISLAND C...",Long Island Expwy
13,66858687,2025-11-16 22:40:30,17 EDERLE PROMENADE,QUEENS,"17 EDERLE PROMENADE, QUEENS (FLUSHING), NY, 11355",Long Island Expwy
14,66848786,2025-11-15 15:15:34,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Bronx River Pkwy
15,66834866,2025-11-14 16:47:34,THE BATTERY,MANHATTAN,"THE BATTERY, MANHATTAN (NEW YORK) ,NY, 10004",FDR Dr
16,66837633,2025-11-14 11:07:05,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Long Island Expwy
17,66819298,2025-11-12 23:35:13,PENNSYLVANIA STATION,MANHATTAN,"PENNSYLVANIA STATION, MANHATTAN (NEW YORK) ,NY...",BQE/Gowanus Expwy
18,66817635,2025-11-12 20:41:54,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Henry Hudson Pkwy/Rt 9A
19,66807034,2025-11-12 19:35:30,2879 FLATBUSH AVENUE,BROOKLYN,"2879 FLATBUSH AVENUE, BROOKLYN, NY, 11234",Belt Pkwy
20,66793975,2025-11-11 13:26:03,200 EAST 135 STREET,BRONX,"200 EAST 135 STREET, BRONX, NY, 10451",Major Deegan Expwy
21,66784650,2025-11-10 19:48:50,530 EAST 74 STREET,MANHATTAN,"530 EAST 74 STREET, MANHATTAN (NEW YORK), NY...",BQE/Gowanus Expwy
22,66784615,2025-11-10 10:07:28,306 EAST 66 STREET,MANHATTAN,"306 EAST 66 STREET, MANHATTAN (NEW YORK), NY...",West Street
23,66768589,2025-11-09 00:07:39,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Belt Pkwy
24,66759515,2025-11-07 19:52:21,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Belt Pkwy
25,66740711,2025-11-06 14:47:29,LA GUARDIA AIRPORT,QUEENS,"LA GUARDIA AIRPORT, QUEENS (EAST ELMHURST) ,NY...",FDR Dr
26,66742180,2025-11-06 07:10:58,56 FEATHERBED LANE,BRONX,"56 FEATHERBED LANE, BRONX, NY, 10452",Cross Bronx Expwy
27,66733583,2025-11-05 21:19:40,84-10 MAIN STREET,QUEENS,"84-10 MAIN STREET, QUEENS (JAMAICA), NY, 11435",Van Wyck Expwy
28,66726805,2025-11-04 23:46:51,,QUEENS,Unknown,Grand Central Pkwy
29,66724303,2025-11-04 22:42:45,480 WEST 42 STREET,MANHATTAN,"480 WEST 42 STREET, MANHATTAN (NEW YORK), NY...",FDR Dr
30,66718063,2025-11-03 19:36:52,LA GUARDIA AIRPORT,QUEENS,"LA GUARDIA AIRPORT, QUEENS (EAST ELMHURST) ,NY...",Manhattan Br
31,66716305,2025-11-03 08:36:33,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Belt Pkwy
32,66703865,2025-11-02 18:17:16,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Henry Hudson Pkwy/Rt 9A
33,66704973,2025-11-02 13:59:01,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Van Wyck Expwy
34,66704940,2025-11-02 05:38:12,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",BQE/Gowanus Expwy
35,66690463,2025-11-01 09:27:48,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Grand Central Pkwy
36,66687485,2025-11-01 08:55:02,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",FDR Dr
37,66686024,2025-10-31 10:43:25,10 EAST 29 STREET,MANHATTAN,"10 EAST 29 STREET, MANHATTAN (NEW YORK), NY,...",Henry Hudson Pkwy/Rt 9A
38,66674770,2025-10-31 03:10:13,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",Long Island Expwy
39,66660602,2025-10-30 10:22:27,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",FDR Dr
40,66662246,2025-10-30 08:13:14,317 AVENUE C,MANHATTAN,"317 AVENUE C, MANHATTAN (NEW YORK), NY, 10009",FDR Dr
41,66642571,2025-10-28 14:31:26,420 CENTRAL PARK WEST,MANHATTAN,"420 CENTRAL PARK WEST, MANHATTAN (NEW YORK), N...",Henry Hudson Pkwy/Rt 9A
42,66645446,2025-10-28 10:07:59,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",FDR Dr
43,66629750,2025-10-28 00:28:30,LA GUARDIA AIRPORT,QUEENS,"LA GUARDIA AIRPORT, QUEENS (EAST ELMHURST) ,NY...",FDR Dr
44,66634525,2025-10-27 23:39:19,100 EAST GUN HILL ROAD,BRONX,"100 EAST GUN HILL ROAD, BRONX, NY, 10467",Bronx River Pkwy
45,66618815,2025-10-26 15:56:11,110-50 HORACE HARDING EXPRESSWAY,QUEENS,"110-50 HORACE HARDING EXPRESSWAY, QUEENS (FORE...",Long Island Expwy

## Query 3: OUTER JOIN and Subquery

This query is similar to the previous, except it returns the details of all complaints (records) with EITHER information in 
taxi_details or road_details. The inner subquery performs an outer join between taxi_details and road_details on the field unique_key.
An inner join is then performed between the main complaints table and the joined taxi/road table, to add additional details (such as
date and address).

In [36]:
# Define Query
query3 = '''
SELECT I.unique_key, I.created_date, I.incident_address, I.borough, TR.taxi_pick_up_location, TR.bridge_highway_name
	FROM nyc311.complaint_incident AS I
	INNER JOIN ( SELECT COALESCE(T.unique_key, R.unique_key) AS tr_key, T.taxi_pick_up_location, R.bridge_highway_name
		FROM nyc311.taxi_details AS T
		FULL OUTER JOIN nyc311.road_details AS R
		ON (T.unique_key = R.unique_key)
	) AS TR
	ON (I.unique_key = TR.tr_key);
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t3 = time.time()
        
        # Execute
        cur.execute(query3)

        # Save restults
        results3 = cur.fetchall()

        # Close timer
        t_3 = time.time() - t3
        print(f'Query Time: {t_3:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results3 = pd.DataFrame(results3, columns=['ID', 'Date', 'Address', 'Borough', 'Taxi Pickup Location', 'Road Name'])
display(results3)

DATABASE CONNECTED: 0.147871 SEC

Query Time: 0.479158 SEC

DATABASE DISCONNECTED

,ID,Date,Address,Borough,Taxi Pickup Location,Road Name
0,66929498,2025-11-24 00:57:27,JOHN F KENNEDY AIRPORT,QUEENS,"JOHN F KENNEDY AIRPORT, QUEENS (JAMAICA) ,NY, ...",None
1,66935048,2025-11-24 00:29:17,399 EAST 34 STREET,MANHATTAN,"399 EAST 34 STREET, MANHATTAN (NEW YORK), NY...",None
2,66932998,2025-11-23 23:49:21,1501 BROADWAY,MANHATTAN,"1501 BROADWAY, MANHATTAN (NEW YORK), NY, 10036",None
3,66929499,2025-11-23 23:29:18,LA GUARDIA AIRPORT,QUEENS,"LA GUARDIA AIRPORT, QUEENS (EAST ELMHURST) ,NY...",None
4,66931840,2025-11-23 23:02:50,413 7 AVENUE,MANHATTAN,"413 7 AVENUE, MANHATTAN (NEW YORK), NY, 10001",None
...,...,...,...,...,...,...
4932,66928500,2025-11-23 23:15:05,,MANHATTAN,None,D
4933,66877832,2025-11-18 15:49:21,,BRONX,None,D
4934,66662309,2025-10-30 10:32:35,,MANHATTAN,None,6
4935,66845292,2025-11-15 17:40:09,,BROOKLYN,None,B
4936,66802066,2025-11-11 20:49:31,,QUEENS,None,7

## Query 4: Window/Analytic Function

This query uses the statement "AVG(op_salary) OVER (PARTITION BY op_cc)" to calculate the average salary across all employees
within each call center, and appends that information to the employee name, salary, and call center ID. The results are then
organized by call center and employee salary; this creates an easy way to see which employees are paid more or less than the
average for their call center coworkers.

In [37]:
# Define Query
query4 = '''
SELECT op_name, op_salary, op_cc, AVG(op_salary) OVER (PARTITION BY op_cc) AS cc_avg_salary
	FROM nyc311.call_operator
	ORDER BY op_cc ASC, op_salary DESC;
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t4 = time.time()
        
        # Execute
        cur.execute(query4)

        # Save restults
        results4 = cur.fetchall()

        # Close timer
        t_4 = time.time() - t4
        print(f'Query Time: {t_4:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results4 = pd.DataFrame(results4, columns=['Name', 'Salary', 'Call Center', 'Average Salary at CC'])
display(results4)

DATABASE CONNECTED: 0.100258 SEC

Query Time: 0.058042 SEC

DATABASE DISCONNECTED

                  Name    Salary Call Center Average Salary at CC
0           Carla Howe  46411.93        CC_1   41490.168333333333
1       Cheryl Clayton  46122.97        CC_1   41490.168333333333
2        Katrina Giles  44289.21        CC_1   41490.168333333333
3       Victoria Perez  38179.62        CC_1   41490.168333333333
4           Michael Wu  37198.62        CC_1   41490.168333333333
...                ...       ...         ...                  ...
4995       Roger Perry  40341.26       CC_99   40688.165454545455
4996       Shane Weber  37281.37       CC_99   40688.165454545455
4997   Scott Hendricks  36613.24       CC_99   40688.165454545455
4998    Shannon Thomas  34872.99       CC_99   40688.165454545455
4999  Catherine Arnold  34419.94       CC_99   40688.165454545455

[5000 rows x 4 columns]

## Query 5: CTE

First, this query defines a generated table called "agency_borough", which is generated by left-joining the
complaint_type table to teh agency table (functionally adding the agency_name field to the complaint_type table), then left-joining 
the complaint_incident table to the complaint_type table (functionally adding the agency_name field to the complaint_incident table). 
This table is grouped by agency_name and borough, to create a list of how many complaints each agency received from each borough, in
descending order. Second, the rows are numbered within each agency, and the top row is selected, thus returning a table that gives
the name of each agency, the name of the borough with the most complaints sent to that agency, and the number of complaints sent.

In [38]:
# Define Query
query5 = '''
WITH agency_borough AS (
	SELECT I.borough, COUNT(I.borough) AS borough_count, TA.agency_name
	FROM nyc311.complaint_incident as I
	LEFT JOIN ( SELECT *
    	FROM nyc311.complaint_type AS T 
  		LEFT JOIN nyc311.agency AS A 
		ON (T.agency = A.agency)
	) AS TA
	ON (I.complaint_id = TA.complaint_id)
	GROUP BY TA.agency_name, I.borough
	ORDER BY TA.agency_name, borough_count DESC
	)
	SELECT agency_name, borough, borough_count
		FROM ( SELECT agency_name, borough, borough_count,
			ROW_NUMBER() OVER (PARTITION BY agency_name ORDER BY borough_count DESC) AS row_num
			FROM agency_borough	
		)
	WHERE row_num = 1;
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t5 = time.time()
        
        # Execute
        cur.execute(query5)

        # Save restults
        results5 = cur.fetchall()

        # Close timer
        t_5 = time.time() - t5
        print(f'Query Time: {t_5:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results5 = pd.DataFrame(results5, columns=['Agency', 'Top Borough', 'Top Frequency'])
display(results5)

DATABASE CONNECTED: 0.173209 SEC

Query Time: 0.284491 SEC

DATABASE DISCONNECTED

,Agency,Top Borough,Top Frequency
0,Department of Buildings,BROOKLYN,3102
1,Department of Consumer and Worker Protection,MANHATTAN,393
2,Department of Education,QUEENS,52
3,Department of Environmental Protection,BROOKLYN,5010
4,Department of Health and Mental Hygiene,BROOKLYN,1610
5,Department of Homeless Services,MANHATTAN,2752
6,Department of Housing Preservation and Develop...,BRONX,29592
7,Department of Parks and Recreation,QUEENS,3090
8,Department of Sanitation,BROOKLYN,6733
9,Department of Transportation,BROOKLYN,4774
10,Economic Development Corporation,QUEENS,713
11,New York City Police Department,BROOKLYN,40754
12,Office of Technology and Innovation,MANHATTAN,6
13,Office of the Sheriff,BROOKLYN,101
14,Taxi and Limousine Commission,MANHATTAN,1910

## Query 6: Derived Metric (ALTER TABLE)

This query creates a new column, full_addresss, in the complaint_incident table, which is a concatenation of the street address,
the borough name, and the ZIP code. This section also contains a query that drops the column if it already exists (in order to 
not cause an error when trying to generate the column), and a query that selects the ID, date, and generated full address from
the first 100 records in the complaint_incident table.

In [39]:
# Define Queries
pre_check6 = '''
ALTER TABLE nyc311.complaint_incident
    DROP COLUMN IF EXISTS full_address;
'''
query6 = '''
ALTER TABLE nyc311.complaint_incident
	ADD full_address varchar 
	GENERATED ALWAYS AS (incident_address || ', ' || borough || ', NY ' || incident_zip);
'''
query6_a = '''
SELECT unique_key, created_date, full_address
    FROM nyc311.complaint_incident
    LIMIT 100;
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t6 = time.time()
        
        # Execute alter table statements
        cur.execute(pre_check6)
        cur.execute(query6)

        # Execute fetch
        cur.execute(query6_a)

        # Save restults
        results6 = cur.fetchall()

        # Close timer
        t_6 = time.time() - t6
        print(f'Query Time: {t_6:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results6 = pd.DataFrame(results6, columns=['ID', 'Date', 'Address'])
display(results6)

DATABASE CONNECTED: 0.170907 SEC

Query Time: 0.060956 SEC

DATABASE DISCONNECTED

          ID                Date                                      Address
0   66932951 2025-11-24 02:06:15  1742 RICHMOND ROAD, STATEN ISLAND, NY 10306
1   66930659 2025-11-24 01:51:19      530 PARKSIDE AVENUE, BROOKLYN, NY 11226
2   66928426 2025-11-24 01:49:36        150 WEST  197 STREET, BRONX, NY 10468
3   66930657 2025-11-24 01:49:36        150 WEST  197 STREET, BRONX, NY 10468
4   66934040 2025-11-24 01:49:36        655 EAST  230 STREET, BRONX, NY 10466
..       ...                 ...                                          ...
95  66930670 2025-11-24 00:32:48        655 EAST  230 STREET, BRONX, NY 10466
96  66927941 2025-11-24 00:32:05        455 EAST  148 STREET, BRONX, NY 10455
97  66935116 2025-11-24 00:31:38        655 EAST  230 STREET, BRONX, NY 10466
98  66934034 2025-11-24 00:30:29        655 EAST  230 STREET, BRONX, NY 10466
99  66934042 2025-11-24 00:29:21        655 EAST  230 STREET, BRONX, NY 10466

[100 rows x 3 columns]

## Query 7: Index usage with EXPLAIN

In this section, first we drop the index incident_date_idx (which indexes complaint_incident by created_date) if it exists; then, 
we run EXPLAIN on a query that selects all fields from all records in complaint_incident from before October 31, 2025. Second, 
we recreate the dropped index and rerun the EXPLAIN query. In the first case, the query plan involves a sequential scan. In the second,
it uses a bitmap scan, for a much smaller estimated cost.

In [40]:
# Define Queries
pre_check7_a = 'DROP INDEX IF EXISTS nyc311.incident_date_idx;'
query7_a = '''
EXPLAIN SELECT * 
	FROM nyc311.complaint_incident AS I
	WHERE I.created_date <= '2025-10-31';
'''
pre_check7_b = 'CREATE INDEX IF NOT EXISTS incident_date_idx ON nyc311.complaint_incident (created_date);'
query7_b = '''
EXPLAIN SELECT * 
	FROM nyc311.complaint_incident AS I
	WHERE I.created_date <= '2025-10-31';
'''

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t7 = time.time()
        
        # Execute first set
        cur.execute(pre_check7_a)
        cur.execute(query7_a)

        # Save restults
        results7_a = cur.fetchall()

        # Execute second set
        cur.execute(pre_check7_b)
        cur.execute(query7_b)

        # Save restults
        results7_b = cur.fetchall()

        # Close timer
        t_7 = time.time() - t7
        print(f'Query Time: {t_7:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
print('QUERY PLAN: NO INDEX:')
for i in range(len(results7_a)):
    print(results7_a[i][0])

print('\nQUERY PLAN: WITH INDEX:')
for i in range(len(results7_b)):
    print(results7_b[i][0])

DATABASE CONNECTED: 0.176246 SEC

Query Time: 0.398873 SEC

DATABASE DISCONNECTED

QUERY PLAN: NO INDEX:
Seq Scan on complaint_incident i  (cost=0.00..12720.74 rows=51649 width=209)
  Filter: (created_date <= '2025-10-31 00:00:00'::timestamp without time zone)

QUERY PLAN: WITH INDEX:
Bitmap Heap Scan on complaint_incident i  (cost=928.70..10545.05 rows=51649 width=209)
  Recheck Cond: (created_date <= '2025-10-31 00:00:00'::timestamp without time zone)
  ->  Bitmap Index Scan on incident_date_idx  (cost=0.00..915.79 rows=51649 width=0)
        Index Cond: (created_date <= '2025-10-31 00:00:00'::timestamp without time zone)

## Query 8: Materialized View

In this section, we first drop the materialized view if it already exists. Then, we (re-)create the materialized view elapsed_time,
which is made via an inner join between complaint_incident and complaint_status and returns the date the complaint was created, its
close date, and the amount of time elapsed between the two timestamps.

In order to implement a refresh schedule, the database administrator can use the pg_cron extension to schedule a nightly 3am refresh, 
as follows:

CREATE EXTENSION pg_cron;

SELECT cron.schedule('view_refresh', '0 3 * * *', 'REFRESH MATERIALIZED VIEW elapsed_time;

In [41]:
# Define Query
precheck8 = 'DROP MATERIALIZED VIEW IF EXISTS elapsed_time;'
query8 = '''
CREATE MATERIALIZED VIEW elapsed_time AS
	SELECT 
		I.unique_key, 
		I.created_date, 
		S.closed_date,
		S.closed_date - I.created_date AS elapsed
	FROM nyc311.complaint_incident AS I
	INNER JOIN nyc311.complaint_status as S
	ON I.unique_key = S.unique_key;
'''
query8_a = 'SELECT * FROM elapsed_time;'

# Establish database connection
time_conn = time.time()
with psycopg.connect(dbname="mesa8413", user="postgres", password="MESA8413") as conn:
    print(f'DATABASE CONNECTED: {(time.time() - time_conn):.6f} SEC\n')

    # Establish cursor
    with conn.cursor() as cur:

        # Set timer
        t8 = time.time()
        
        # Execute Queries
        cur.execute(precheck8)
        cur.execute(query8)
        cur.execute(query8_a)

        # Save restults
        results8 = cur.fetchall()

        # Close timer
        t_8 = time.time() - t8
        print(f'Query Time: {t_8:.6f} SEC\n')
        
print('DATABASE DISCONNECTED\n')

# Output results
results8 = pd.DataFrame(results8, columns=['ID', 'Date Created', 'Date Closed', 'Elapsed Time'])
display(results8[~results8['Date Closed'].isna()])

DATABASE CONNECTED: 0.205135 SEC

Query Time: 1.605268 SEC

DATABASE DISCONNECTED

              ID        Date Created         Date Closed    Elapsed Time
3       66933632 2025-11-24 01:55:15 2025-11-24 01:59:06 0 days 00:03:51
13      66933528 2025-11-24 01:40:27 2025-11-24 01:57:43 0 days 00:17:16
19      66931183 2025-11-24 01:36:10 2025-11-24 01:50:22 0 days 00:14:12
22      66929150 2025-11-24 01:31:39 2025-11-24 01:39:25 0 days 00:07:46
37      66932101 2025-11-24 01:14:04 2025-11-24 01:32:19 0 days 00:18:15
...          ...                 ...                 ...             ...
299992  66618372 2025-10-26 13:18:52 2025-10-26 13:39:36 0 days 00:20:44
299993  66621109 2025-10-26 13:18:42 2025-10-26 16:01:02 0 days 02:42:20
299994  66616431 2025-10-26 13:17:46 2025-10-26 14:28:27 0 days 01:10:41
299995  66618121 2025-10-26 13:17:44 2025-10-26 13:39:33 0 days 00:21:49
299999  66618354 2025-10-26 13:16:34 2025-10-26 13:39:20 0 days 00:22:46

[256460 rows x 4 columns]